{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}



				<h1 class="subtitle">NOCH BLOG</h1>
				{% for post in blog_posts %}
				<br/><br/>
				<div style="color: white; font-size: 20px; font-family: Helvetica, Arial, sans-serif; width: 80%; margin: 0 auto;">
					
					<p style="text-align: right; font-size: 16px; color: light-grey;"> {{ post.date }} </p>
					<a href="/blog_post/{{ post.id }}/">
						<img src="http://127.0.0.1/static/{{ post.img }}" style="width: 100%;">
					</a>

					<div> 
						<div style="background-color: #fff; padding: 20px; opacity: 0.85;"> 
						<a href="/blog_post/{{ post.id }}/" style="color: #000; text-decoration-color: #000; ">
						<p style="text-align: left; font-size: 25px; " > {{ post.title }} </p>
						</a>
						</div>
						
					</div> 



				</div>
				{% endfor %}




{% endblock %}
