{% extends "base.html" %}

{% block title %}{{ title }} {% endblock %}
{% block head %} 

<link href="/static/rating/styles/styles.css" rel="stylesheet" type="text/css" /> 
<link href="/static/rating/styles/jquery.rating.css" rel="stylesheet" type="text/css" /> 
<link href="/static/noch_css/comment.css" rel="stylesheet" type="text/css" /> 
<link href="/static/noch_css/styles.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

<script type="text/javascript">
window.jQuery || document.write('<script type="text/javascript" src="/static/rating/js/jquery-1.6.2.min.js"><\/script>');
</script>

<script type="text/javascript" src="/static/rating/js/jquery.rating-2.0.min.js"></script>

<script type="text/javascript">
  var global_answer_user_id = "";
  var global_answer_comment_id = "";
  /////////////
  function goToByScroll(id,textarea_id,textarea,username){
      // Remove "link" from the ID
    id = id.replace("link", "");
      // Scroll
    $('html,body').animate({
        scrollTop: $("#"+id).offset().top},
        'fast',
        function() {
          document.getElementById(textarea_id).value = "";
        $(textarea).focus();
        document.getElementById(textarea_id).value = username;
        }     


    );
}
function moveCaret(oTextArea,nPos)
{
   var rng=oTextArea.createTextRange();
   rng.collapse()
   rng.moveStart("character",nPos);
   rng.select();
}
function answer(comment_id,user_id,username){
    //console.log(comment_id,user_id);
     
     //$("#id_text").focus();
    //document.getElementById("id_text").focus()
    
    global_answer_user_id = user_id;
    global_answer_comment_id = comment_id;
    goToByScroll('write_comment_div','id_text','#id_text',username.innerHTML + ", ");
    
   
    //document.getElementById("id_text").focus()
    
}  

  //////////////


jQuery(function($){  
  var new_=""
  $("#form_unlike").submit(function(event){ 
            //alert('sdas')
            var a = $(this).serialize() + "&id={{ id }}"
            $.ajax({
                 type:"POST",
                 url:"/change_view_unlike/",
                 data: a, 
                 success: function(json) { //alert(json)
                    //alert(json)
                     //alert(json["msg"]);

                      $('#rating_3').rating({
                        readOnly: false
                        });
                      var val_ = parseFloat(json['msg']) //всего 160 пикселей
                      //alert(val_)
                      var coef = val_ / 5;
                      new_ = String(coef * 160.0) + "px"
                      $(".vote-active").css({"width": new_})
                   
                     //var comments = JSON.parse(json)
                  }
            });
            return false; 
        });

  
  $("#rating_3").hover(function(){
    //in
    }, function(){ //alert(new_);
      if (new_ == "") {
        var val_ = parseFloat("{{rating}}") //всего 160 пикселей
        //alert(val_)
        var coef = val_ / 5;
        new_ = String(coef * 160.0) + "px"
      }
    $(".vote-active").css({"width":new_})//out
});
  $('#rating_3').rating({
        fx: 'float',
        image: '/static/rating/images/stars.png',
        loader: '/static/rating/images/ajax-loader.gif',
        minimal: 0.6,
        url: '/change_view/',
        readOnly: false,
        cancel: true,
        callback: function(responce) {
            //alert(responce);
            this.vote_success.fadeOut(2000);
            if(responce.msg) {
              $('#rating_3').rating({
      readOnly: false
      });
              //alert(responce.msg);
              var val_ = parseFloat(responce.msg) //всего 160 пикселей
              var coef = val_ / 5;
              //alert(coef);
              //alert(coef * 160.0)
              new_ = String(coef * 160.0) + "px"
              //alert(new_)
              //alert($(".vote-active").css("width"))
              $(".vote-active").css({"width":new_})

              //alert($(".vote-active").css("width"))
              
            }
        }

  });
  //////////эластичная текст арея//////
  $('textarea').keyup(function(){
    $(this).height(40);
    $(this).height(this.scrollHeight);
  });
  ////////////////
})
</script>
 {% endblock %}
{% block content %}

<h1 class="subtitle">{{ title }}</h1>

<!-- <div class="wrap">
  <div class="border-wrap">
    <h2 style = "text-align: left; color: #000;"><!-- Rating: {{rating}} Votes: {{votes}}  Show: {{show_times}}  </h2>
    
    <form action="/change_view_unlike/" method="post" id="form_unlike" >
      {% csrf_token %}
      <input type="hidden" name="content_type" value="game"/>
      <button id = "rating_clear" type="submit"> cancel </button>
    </form>
    
      <div id="rating_3">
                
                {% csrf_token %}
                <input type="hidden" name="val" value="{{rating}}"/>
                <input type="hidden" name="votes" value="{{votes}}"/>
                <input type="hidden" name="content_type" value="game"/>
                <input type="hidden" name="id" value="{{id}}"/>
                
      </div>

      
  </div>  
</div> -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for i in count%}
      <li data-target="#carousel-example-generic" data-slide-to="{{ i }}" {% if i == 0 %} class="active" {% endif%}  ></li>
    {%endfor%}

  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="item active">
        <img src="/media/{{first_img_link}}" alt="">
        
        <div class="item-box top left"></div>
        <div class="item-box top right"></div>
    </div>
      {% for img in images%}
      <div class="item">
        <img src="/media/{{img.img}}" alt="">
        
        <div class="item-box top left"></div>
        <div class="item-box top right"></div>
    </div>
    {%endfor%}
      
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" >
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" >
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<br/>
 <div id="rating_3">
                
                {% csrf_token %}
                <input type="hidden" name="val" value="{{rating}}"/>
                <input type="hidden" name="votes" value="{{votes}}"/>
                <input type="hidden" name="content_type" value="game"/>
                <input type="hidden" name="id" value="{{id}}"/>
                
  </div>


<br/>
<div style="color: #fff; text-align: left;">
  <pre style="font-size: 16px; ">
{{ description }}
  </pre>
</div>

<br/><br/>
<!-- ===============Write comment============= -->

<div id = "write_comment_div" >
<p style="color: white;float:left;font-size: 24px; padding: 5px;"> Write a comment<p> <br><br>
      {% if user.is_authenticated %}
    <form action="/post_comment/" method="post" id="form_comment">
      {% csrf_token %}
      {{ form.text }}
    <button id = "post_comment" class="btn btn-lg btn-warning btn-block" type="submit" >Отправить</button>
    </form>

    {% endif %}
</div>
  <br/> </br>
<!-- ============================ -->
<!-- {% if comments|length > 0 %}
<h2 style="float: left;font-size: 24px;color: #fff;">Комментарии </h2>
{% endif %} -->
<br/><br/><br/>

<div style="color: #000; text-align: left;" id = "comment_block">
    {% if comments|length > 0 %}

        {% for comment in comments %}

    <div class="comment_div" onclick="answer({{comment.id}},{{comment.user.id}},this.childNodes[3])">
                 
             <img width='130px' height='130px' class="comment_img"
             {% if comment.user.img %} src = "{{comment.user.img}}"> 
             {% else %}
             src = "https://pp.vk.me/c625430/v625430637/13a64/q0rT612i538.jpg">
             {%endif%}
             <p class="comment_username"> {{comment.user.username}} </p>
             <p class="comment_date"> {{comment.date}} </p>
             <!-- <p style="display: none;"> {{comment.id}} </p>
             <p style="display: none;"> {{comment.user.id}} </p> -->
             <hr/>
              <pre class="comment_text">
{{ comment.text }}

              </pre>
    </div>

        {% endfor %}

    {% else %}
 <!--            <pre>
No comments yet...
            </pre> -->
    {% endif %}
   
    <script>
      $(document).ready(function() {
       

       $("#form_comment").submit(function(event){
            //console.log($(this));
            var a = $(this).serialize() + "&id={{ id }}" 
                    + "&to_user_id=" + global_answer_user_id 
                    + "&answer_to_comment_id=" + global_answer_comment_id;
            console.log(a);
            $.ajax({
                 type:"POST",
                 url:"/post_comment/",
                 data: a, 
                 success: function(json) { //alert(json)
                    //alert(json)
                     //alert(JSON.parse(json)[0]["fields"]["text"]);
                     //var comments = JSON.parse(json)
                     //add one comment//
                    //alert(global_answer_user_id);
                    var img =  "<img width=\'130px\' height=\'130px\' class=\"comment_img\" src = \"/"
                                +json['profile_photo'] +"\">"
                      var p1 = "<p class=\"comment_username\">"
                      var p2 = "<p class=\"comment_date;\">" 
                      var pre = "<hr/><pre class=\"comment_text\">"

                     $( "#comment_block" ).prepend( "<div class=\"comment_div\">" 
                            + img + "</img>" 
                            + p1 + json["user"] + "</p>"
                            + p2 + json["date"] + "</p>"
                            + pre + json["text"] + "</pre>"


                            + "</div>" );
                     /////
                     // var myNode = document.getElementById("comment_block");
                     //  while (myNode.firstChild) {
                     //      myNode.removeChild(myNode.firstChild);
                     //  }
                     //  var img =  "<img width=\'130px\' height=\'130px\' style=\"margin: 10px; margin-top: 10px;border: 2px grey solid; border-radius: 130px; padding: 2px; float:left;\" src = \"https://pp.vk.me/c625430/v625430637/13a64/q0rT612i538.jpg\">"
                     //  var p1 = "<p style=\"margin-top: 20px;\">"
                     //  var p2 = "<p style=\"color: grey;\">" 
                     //  var pre = "<hr/><pre style=\"border-radius: 25px; margin: 4px; border: 0px; background-color: #fff;\">"
                     //  for (var i in comments) {
                     //    $( "#comment_block" ).append( "<div class=\"comment_div\">" 

                     //        + img + "</img>" 
                     //        + p1 + comments[i]["fields"]["user"] + "</p>"
                     //        + p2 + comments[i]["fields"]["date"] + "</p>"
                     //        + pre + comments[i]["fields"]["text"] + "</pre>"


                     //        + "</div>" );
                     //  }
                  }
            });
            return false; 
       });

});

    </script>
    
  </div>
   



{% endblock %}
